<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container mt-5">
    <h2 class="mb-4">Signup</h2>
    <form action="/user/signup" method="POST">

      <!-- Full Name -->
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" name="fullName" class="form-control" id="fullName" required>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
      </div>

      <!-- Checkbox -->
   

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>